{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container" >
<div class="row">
        <div class="col-md-3">

        </div>
         <div class="col-md-6">

     <div class="login">

         {% if messages %}
            <ul>
                {% for message in messages %}
                <li class="text-success">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <h1>Create Account</h1>

         <form method="post" >
             {% csrf_token %}
             <table>
                {{ form |crispy }}
                 <tr>
                    <td></td>
                    <td><input type="submit" class="btn btn-primary ml-2" name="submit" value="Register" /></td>
                </tr>
             </table>
         </form>
     </div>
         </div>
     <div class="col-md-3">

        </div>
</div>
</div>

{% endblock %}