{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container" >
    <div class="row">
        <div class="col-md-3">

        </div>
         <div class="col-md-6">
    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy}}
        {% if user.is_authenticated %}
        <input type="submit"  class="btn btn-primary ml-2" value="send" >
        {% endif %}
        {% if not user.is_authenticated %}
        <p class="text-danger"> please connect you before comment !</p>
        <input type="submit" class="btn btn-primary ml-2" disabled value="send" >
        {% endif %}

    </form>
         </div>
              <div class="col-md-3">

              </div>
    </div>
</div>

{% endblock %}