{% extends 'base.html' %}

{% block content %}
    {% for post in object_list %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-6 bg-light">
    <div class="post-entry">
        <h2> <a href="{% url 'post_detail' post.pk %}">{{post.title}} </a></h2>
        <div> {{post.body}} </div>
        <a href="{% url 'post_detail' post.pk %}"> comments: {{ post.comments.count }} </a>
        <hr>
    </div>
            </div>
            <div class="col-md-3">

            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}